RewriteEngine on

# if pas existe <le fichier>
RewriteCond %{REQUEST_FILENAME} !-f
# if app/main_<le fichier> existe
#RewriteCond app/main_%{REQUEST_FILENAME} -f
# redirige en interne app/main_<le fichier>
RewriteRule ^(.*) index.php?rewrite=$1 [QSA,L]
